#header{
    border-style: none none groove none;
    border-width: 0.1px;
}
#footer{
    border-style: groove none none none;
    border-width: 0.1px;
    text-align: center;
    font-size: small; 
}
.paperplane {
    border-style: groove none groove none;
    border-width: 0.1px;
}
.relatedstories1 {
    border-style: groove none none none;
    border-width: 0.1px;
}
.relatedstories2 {
    border-style: groove none none none;
    border-width: 0.1px;
}
.relatedstories3 {
    border-style: groove none none none;
    border-width: 0.1px;
}
.relatedstories4 {
    border-style: groove none groove none;
    border-width: 0.1px;
}
.publicity {
    border-style: groove none groove none;
    border-width: 0.1px;
}
.noimagearticle {
    border-style: none none groove none;
    border-width: 0.1px;
}
.subscriptionpromotion {
    border-style: groove none groove none;
    border-width: 0.1px;
}
.enteremail {
    border-style: solid;
    border-radius: 4px;
    border-width: 0.1px;
    padding-left: 6px;
    padding-right: 250px;
    background-color: lightgrey;
    display: inline-block;
}
.signupnow {
    border-style: none;
    border-radius: 4px;
    border-width: 0.1px;
    padding: 6px 10px;
    background-color: rgb(248, 4, 4);
    color: rgb(231, 231, 231)
    text-align: center;
    display: inline-block;
}
.backgroundimage {
    background-image: url("Image 14.jpg")
}
.beforefooter {
    border-style: groove none none none;
    border-width: 0.1px;
}
.mainheader {
    align-content: center;
    width: 80%;
}
}
ul.nobullet {
    list-style-type: none;
}
}
.bigf {
    font-size: 10px;
}
}
a:link, a:visited {
    text-decoration: none;
}
h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 39px;
    line-height: 47px;
    letter-spacing: .5px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 16px;

    display: block;
}
.mainpic {
    margin: 40px 50px 30px 120px;
}
ol, p, ul {
    margin-top: 28px;
    margin-bottom: 28px;
    line-height: 28px;
    letter-spacing: .5px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
body {
    width: 100%;
    color: rgba(0,0,0,.95);
    font-family: "Georgia, Times, serif";
}

